.blog-banner {
  background-color: $purple;
  height: 550px;
  min-height: 550px;

  h1 {
    color: $yellow;
  }

  .lead {
    color: $pink;
  }

  .stripe-right {
    position: absolute;
    top: 15%;
    right: 0;
    z-index: 10;
  }
}