.content-three-tabs {
  .lead {
    color: $pink;
  }

  .h2 {
    color: $black;
  }

  .text-muted {
    width: 50%;
    margin: 0 auto;
  }

  .tile {
    background-color: $light-grey;
    text-decoration: none;
    border-radius: 20px;
    min-height: 467px;
    height: 467px;

    .icon-bg {
      background-color: white;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      margin: 0 auto 30px auto;
      display: flex;
      border: 1px solid $grey;
      justify-content: center;
      align-items: center;

      i {
        color: $yellow;
        font-size: 2rem;
      }
    }



    h3 {
      color: $purple;
      text-decoration: none;
    }

    p {
      color: $text-muted;
      text-decoration: none;
    }
}
}