.contact-form {

  background-color: $light-grey;

  .lead {
    color: $pink;
  }

  .form-holder {
    background-color: white;
    border-radius: 20px;

    h2 {
      font-size: 1.75rem;
    }
  }

  .fluentform .ff_btn_style {
    border-color: $yellow;
    @extend .btn-lg;
  }

  .stripe-right {
    position: absolute;
    top: 25%;
    right: 0;
    z-index: 0;
  }

  .circle-lg-x {
    background-color: white;
    position: absolute;
    top: -20%;
    left: -4%;
  }

  @include media-breakpoint-down(lg) {
    .circle-lg-x, .stripe-right {
      display: none;
    }
  }
}

form .ff-btn-submit {
  background-color: $yellow !important;
  color: $black;
  display: block;
  width: 100%;
  padding: 20px 20px;
  @extend .btn-lg;
}

.fluentform .ff-el-progress-bar {
  background-color: $pink !important;
  color: #fff;
  height: inherit;
  text-align: right;
  transition: width .3s;
  width: 0;
}

.fluentform .ff-btn-secondary {
  background-color: $purple !important;
  color: white !important;
  border-color: $purple !important;
  padding: 5px 20px;
  border-radius: 5px !important;
  @extend .btn-lg;
}
