.img-slots {

  h2 {
    color: $yellow;
    margin: 0 auto;
    width: 75%;
  }



  .lead {
    color: $pink;
  }

  .slots {
    background-color: $light-grey;
    border-radius: 20px;

    h3 {
      color: $pink;
    }

    p {
      min-height: 75px;
    }

  }

  @include media-breakpoint-down(md){
    h2 {
      width: 100%;
    }
  }
}