.simple-header {
  min-height: 450px;

  .lead {
    color: $black;
  }

  h1 {
    color: $yellow;
    width: 50%;
    margin: 0 auto;
  }

  .stripe-right {
    position: absolute;
    top: 15%;
    right: 0;
    z-index: 0;
  }
}