.testimonials {

    background-color: $yellow;
    .lead {
        color: $pink;
    }

    h2 {
        color: $purple;
    }

    .testimonial-content {
        position: relative;
    }

    .testimonial-swiper {
        width: 600px;
        height: 300px;

        .swiper-slide {
            background-color: white;
            padding: 50px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-items: center;

            .swiper-content {

                h3 {
                    color: $purple;
                    font-size: 1.2em;
                }
            }
        }
    }
}