html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.circle-sm {
  width: 48px;
  height: 48px;
  border-radius: 50%
}

.circle-md {
  width: 135px;
  height: 135px;
  border-radius: 50%
}

.circle-lg {
  width: 210px;
  height: 210px;
  border-radius: 50%
}

.circle-lg-x {
  width: 500px;
  height: 500px;
  border-radius: 50%
}

@include media-breakpoint-down(lg) {
  .circle-sm, .circle-md, .circle-lg, .circle-lg-x {
    display: none;
  }
}

.section-index {
  z-index: 100;
  position: relative;
}

.page-id-75, .postid-72 {
  .contact-form {
    .circle-lg-x {
      display: none;
    }
  }
}

.page-id-79 {
  background-color: $light-grey;
}

.postid-71, .postid-72, .postid-73 {
  .main-nav .navbar-brand span {
    color: white;
  }

  .main-nav .nav-link {
    color: white;
  }

}

.postid-71, .postid-72, .postid-73 {
  .scrolled .navbar-brand span {
    color: $black !important;

    &:hover {
      color: $pink !important;
    }

  }

  .scrolled .nav-link {
    color: $black !important;

    &:hover {
      color: $pink !important;
    }
  }
}
